body {
    background: black;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
}

.green-text{
    color: rgb(1, 163, 4);
}

.green-bg{
    background: rgb(1, 163, 4);
}

.teal-text {
    color: rgb(82, 207, 199);
}

.blink {
    animation: blink-animation 1.8s steps(5, start) infinite;
    -webkit-animation: blink-animation 1.8s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

.purple-text{
  color: #C5B8DF;
}

.yellow-text{
  color: #FCFE06;
}
